{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <br>
        {% if user_has_voted == True %}
            <h2>{{ poll.question }}</h2>
            <p style="font-weight: bold;">
                <span style="color: blue">Created By : {{ poll.created_by }}</span>
                <span style="float: right;color: green">Total No of Votes : {{ poll.total_votes }}</span>
            </p>
            {% for option in options %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ option.option }}</h5>

                        <p class="card-text"><b>Total Votes :</b>
                            <span style="font-weight: bold;color: red">{{ option.votes }}</span></p>
                        <p>Percentage : <b> {{ option.get_voting_percentage }} %</b></p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: {{ option.get_voting_percentage }}%" aria-valuenow="50" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                        <br>

                        <p class="card-text"><b>Voted by :</b><span style="color: blue">
                        {% for user in option.voted.all %} {{ user.voter }}, {% endfor %}</span></p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2>{{ poll.question }}</h2>

            <form method="post">
                {% csrf_token %}
                {% for option in poll.options.all %}
                    <div class="form-check formcheckpadding">
                        <input class="form-check-input" type="radio" name="option" id="{{ option.id }}"
                               value="{{ option.id }}">
                        <label class="form-check-label" for="{{ option.id }}">
                            {{ option.option }}
                        </label>
                    </div>
                {% endfor %}
                <br>
                <center>
                    <button type="submit" class="btn btn-primary">Vote</button>
                </center>

            </form>
        {% endif %}
    </div>
{% endblock %}
